{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventix</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <header>
        <div class="interior">
            <a href="/" class="logo"><img src="{% static 'logo.png' %}" alt="Logo" class="logo"></a>
                <nav class="navbar">
                    <ul>
                        <li><a href="/about/us">about us</a></li>
                        <li><a href="/about/us">Conctact us</a></li>
                        {% if user.is_authenticated %}
                        <li class="submenu">
                            <a href="">Events</a>
                            <ul class="children">
                                <li><a href="/createEvent/">Create event</a></li>
                                <li><a href="/preEvento/">Plan event</a></li>
                                <li><a href="/organizers/">organicer</a></li><li><a href="/supply/space/">supply space</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="">Profile</a>
                            <ul class="children">
                                <li><a href="/profile/">View Profile</a></li>
                                <li><a href="/logout/">Logout</a></li>
                                <li><a href="/analyzer/">Analyze</a></li>
                            </ul>
                        {% else %}
                        <li><a href="/signup/">Sign Up</a></li>
                        <li><a href="/signin/">Sign In</a></li>
                        {% endif %}
                </nav>
        </div>
   </header>

    {% block content %}
    {% endblock %}

    <footer>
        Eventix ® 2023
    </footer>
</body>
</html>
