{% extends 'base.html' %}

{% block content %}

<div class="vh-100 d-flex justify-content-center align-items-center" style="margin-bottom: 10%;">
    <main  class="container">
        <div class="row">
            <section class="col-md-4 offset-md-4">
                <form action="/createEvent/" method="POST" class="card card-body" enctype="multipart/form-data">
                
                <h1 class="text-center"> Eventix </h1>
                <h2 class="text-center"> Create an event</h2>

                {% csrf_token %}
                    <div class="mb-3">
                        <label for="name">Name:</label>
                            <input type="text" name="name" id="name" class="form-control"
                            placeholder="Name for your event">
                    </div>
                    <div class="mb-3">
                        <label for="date">Date:</label>
                            <input type="date" name="date" id="date" class="form-control"
                            placeholder="Date of your event">
                    </div>
                    <div class="mb-3">
                        <label for="city">City:</label>
                            <input type="city" name="city" id="city" class="form-control"
                            placeholder="City where your event is">
                    </div>
                    <div class="mb-3">
                        <label for="place">Place:</label>
                            <input type="place" name="place" id="place" class="form-control"
                            placeholder="Address / place where your event is">
                    </div>
                    <div class="mb-3">
                        <label for="description">Description:</label>
                            <textarea rows="5" name="description" id="description" class="form-control"
                            placeholder="Brief description of your event"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image">Image:</label>
                        <input type="file" name="image" id="image" class="form-control"
                        placeholder="Upload an image for your event">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Create
                    </button>
                </form>
            </section>
        </div>
    </main>
</div>

{% endblock %}
