{% extends 'base.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/eventDetail.css' %}">
</head>

<body>


    <div class="event-details">
        <div class="image-container">
            <img src="{{ event.image.url }}" alt="Descripción de la imagen">
        </div>
        <p class="date">Fecha: {{ event.date }}</p>

        <div class="content">
            <div class="text-content">
                <p class="name">{{ event.name }}</p>
            </div>
            <div class="heart-container">
                {% if like_exists %}
                <button onclick="toggleHeart(this)" class="heart liked" data-evento-id="{{ event.idEvent }}">
                    <img src="../static/like.png" alt="Descripción de la imagen" style="width: 35px; height: 35px;">
                </button>
                {% else %}
                <button onclick="toggleHeart(this)" class="heart" data-evento-id="{{ event.idEvent }}">
                    <img src="../static/unlike.png" alt="Descripción de la imagen" style="width: 35px; height: 35px;">
                </button>
                {% endif %}
            </div>
            <h4>23</h4>
        </div>

        <div class="description-creator">
            <div class="description">
                <p class="titleDescription">Description</p>
                <p>{{ event.descripcion }}</p>
            </div>
            <div class="creator-container">
                <div class="creator">
                    <p class="titleCreator">About the creator</p>
                    <div class="profile-container">
                        <img class="profileImage" src="{{ principal_profile.profilePhoto.url }}" alt="">
                    </div>
                    <a href="{% url 'principalProfile' userByEvent.id %}">
                        <p>{{ userByEvent.username }}</p>
                    </a>

                </div>
            </div>

        </div>

        <p class="titleLocation">Location</p>
        <div class="locationContainer">
            <p>Ciudad: {{ event.city }}</p>
            <p>Lugar: {{ event.place }}</p>
        </div>
    </div>


    <script>
        function toggleHeart(button) {
            const eventoId = button.getAttribute('data-evento-id');
            const heartImg = button.querySelector('img');

            fetch(`/toggle_like/${eventoId}`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.liked) {
                        heartImg.src = "../static/like.png";
                        button.classList.add('liked');
                    } else {
                        heartImg.src = "../static/unlike.png";
                        button.classList.remove('liked');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
    {% endblock %}

</body>

</html>