

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}
    {% block content %}
        <h1>Busca por categorias</h1>
        {% for eventCategory in eventCategories %}
            <div>
                <a href="{% url 'eventByCategory' eventCategory.idEventCategorie %}">
                    <h4>{{ eventCategory.name }}</h4>
                </a>
            </div>
        {% endfor %}
        <h1>Eventos</h1>
        {% for event in events %}
           <a href="{% url 'eventDetail' event.idEvent %}">
            <div>
                <h3>{{ event.name }}</h3>
                <p>{{ event.descripcion }}</p>
                <p>{{ event.date }}</p>
                <p>{{ event.city }}</p>
                <p>{{ event.place }}</p>
            </div>
           </a>
        {% endfor %}
    {% endblock %}
</body>
</html>
