{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus Eventos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Eventos</h1>
    <div class="container">

        <div class="events-container">
            {% for event in events %}
                {% if event.isPreEvento == 0 %}
                    <div class="event-card">
                        <div class="card-image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR93msRHF1swmKyiSa1t9lxHOGuNT7K2HeLQT1KkLqQ&s">
                        </div>
                        <div class="card-body">
                            <h2>{{ event.name }}</h2>
                            <p class="date">{{ event.date }}</p>
                            <p class="city">{{ event.city }}</p>
                            <p class="place">{{ event.place }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</body>
</html>
{% endblock %}