{% extends 'base.html' %}

{% block content %}
<h1>organizadores de tu interes</h1>
<form method="post">
    {% csrf_token %}
    <ul>
        {% for organizer in organizers %}
            <li>
                <h2>{{ organizer.companyName }}</h2>
                <p>{{ organizer.description }}</p>
                <p>{{ organizer.telefono }}</p>
                <p>{{ organizer.email }}</p>
                <ul>
                    {% for specialty in organizer.especialidades %}
                        <li>{{ specialty.name }}</li>
                    {% endfor %}
                </ul>
                <input type="checkbox" name="selected_organizers" value="{{ organizer.idOrganizers }}"> Seleccionar
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Guardar Selección</button>
</form>


<h1>organizadores Seleccionados</h1>
{% for selectOrganizer in selectedOrganizers %}
    <h2>{{ selectOrganizer.companyName }}</h2>
{% endfor %}



<form method="POST" action="">
    {% csrf_token %}
    <!-- <button>
        Save
    </button> -->
</form>

{% endblock %}