{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container">
        <link rel="stylesheet" href="{% static 'css/supplySpace.css' %}">
        <main class="container-body">
            <div class="row">
                <section class="col-md-4 offset-md-4">
                    <form action="/supply/space/" method="POST" class="form" enctype="multipart/form-data">
                    
                    <h1 class="text-center"> Eventix </h1>
                    <p></p>
                    <h2 class="text-center">Supply your Space</h2>
    
                    {% csrf_token %}
                    <div class="form__container">
                        <div class="field">
                            <input type="text" name="title" id="title" class="form-input" placeholder=" ">
                            <label for="title" class="form-label">Name:</label>
                            <span class="form-line"></span>
                        </div>
                        <div class="field">
                            <input type="number" name="capacity" id="capacity" class="form-input" placeholder=" " min="0">
                            <label for="capacity" class="form-label">Max capacity:</label>
                            <span class="form-line"></span>
                        </div>
                        <div class="field">
                            <input type="address" name="address" id="address" class="form-input" placeholder=" ">
                            <label for="address" class="form-label">Address:</label>
                            <span class="form-line"></span>
                        </div>
                        <div class="field">
                            <input type="location" name="location" id="location" class="form-input" placeholder=" ">
                            <label for="location" class="form-label">Location:</label>
                            <span class="form-line"></span>
                        </div>
                        <div class="field">
                            <textarea rows="5" name="description" id="description" class="form-input" placeholder=" "></textarea>
                            <label for="description" class="form-label">Description:</label>
                            <span class="form-line"></span>
                        </div>
                        <div class="field">
                            <input type="file" name="image" id="image" class="form-input" placeholder=" ">
                            <label for="image" class="form-label">Image:</label>
                            <span class="form-line"></span>
                        </div>

                        <button class="form-submit">
                            Create
                        </button>
                    </div>
                        
                    </form>
                </section>
            </div>
        </main>
    </div>
{% endblock %}