<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h2>Nombres existentes</h2>
        {% for nombre in nombres %}
            {% if nombre.tachado == False %}
                <p>Nombre no tachado</p>
            {% else %}
                <p>Nombre  tachado</p>
            {% endif %}
        <h3>{{ nombre.name }}</h3>
        {% endfor %}  
    {% endblock %}
</body>
</html>